.title h1{
    color: red;
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}
.navs{
    background: rgb(184, 177, 177);
    text-align: center;
}
.navs li{
    list-style: none;
    display: inline-block;
    margin-right: 15%;
    padding: 15px 20px;
}
.navs li:hover{
    background: rgb(141, 8, 8);
    transition: .5s;
    cursor: pointer;
}
.navs li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}